<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Books</title>
</head>
<body>
    <div class="container" style="display: flex; justify-content: space-around; align-items: center;">
        <div style= 'display: flex; flex-direction: column; justify-content: space-between; align-items: center; gap: 2em;'>
            <h1>New Book</h1>
            <form method='POST' action="/books/add/new" style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1em;" >
                Title: <input type="text" name='title'>
                Number of Pages: <input type="text" name='num_of_pages'>
                <input type="submit" value = 'Create'>
            </form>

        </div>
        <div>
            <h1>All Books</h1>
            <div style= 'border: 2px solid black;'>
                {% for book in books %}
                <a href = '/books/{{book.id}}/favorites'>{{book.title}}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="/">Home</a>
    
</body>
</html>