@model Wedding

<div>
    <h1>Plan your Wedding</h1>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</div>


<form asp-controller = "Home" asp-action="CreateWedding" method = "post">
    <div id="form-group">
        <label asp-for="Wedder1"></label>
        <input asp-for="Wedder1" class="form-control">
        <span class="alert-danger" asp-validation-for="Wedder1"></span>
    </div>
    <div id="form-group">
        <label asp-for="Wedder2"></label>
        <input asp-for="Wedder2" class="form-control">
        <span class="alert-danger" asp-validation-for="Wedder2"></span>
    </div>
    <div id="form-group">
        <label asp-for="Date"></label>
        <input type="Date" asp-for="Date" class="form-control">
        <span class="alert-danger" asp-validation-for="Date"></span>
    </div>
    <div id="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control">
        <span class="alert-danger" asp-validation-for="Address"></span>
    <input type="hidden" asp-for="CreatorId" value="@ViewBag.UserId">
    <input type="submit" class="btn btn-lg btn-success mt-5">
</form>